/.phpunit.cache
/vendor
/.idea
/.vscode
.vagrant/
Homestead.json
Homestead.yaml
Vagrantfile
npm-debug.log
yarn-error.log
.env*
!.env.*example
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpunit.result.cache
.~lock.*
docker-compose.override.yml
